<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/index.js"></script>

    <title>Document</title>
</head>
<body>
    여기는 루트입니다. 테스트
    <br><br>
    <p>js id : <%=id%></p>
    <p><%=name%>!  아빠한테 까불지 마라.</p>
    <a href="/product/main/">상품페이지로 이동하기</a>
    
    <br>
    <a href="/golf/list">골프 라운딩하러 이동하기</a>
    <br>
    <a href="/logout">로그아웃하기</a>
</body>
</html>